{{>header title=article.title path=path}}

<div class="article-page">
    <div class="top-heading base-container no-print">
        <h1>{{article.title}}</h1> 
    </div>
    <div class="container text-container">
        {{#each article.contents}}
            <p style="padding-left: {{this.padding}}px">{{this.text}}</p>
        {{/each}}
        {{#each article.urls}}
            <a href="{{this.url}}">{{this.text}}</a>
        {{/each}}
    </div>

    {{#if has_pdf}}
    <div id="pdf-preview" class="hidden">
    </div>
    {{/if}}
</div>

{{>footer}}