{{>header title="Orari" path="/" search=true}}

<div class="article-page">
    <div class="top-heading base-container">
        <h1>Orari</h1> 
        <!--<span>aggiornato X ore fa</span>-->
    </div>
    <div class="container clear-container">
        <!--
        <ul class="highlighted-schedules">
            <column-item
            v-for="item in highlightedSchedules"
            :key="item.name"
            :name="item.name"
            :filter="searchQuery"
            :to="{ name: 'schedule',
                    params: { type: item.type, name: item.name }}"
            />
        </ul>
        -->

        <div class="list-columns-wrapper">
            <div class="list-columns">
                <div class="schedule-column">
                    <h2 class="center">Classi</h2>

                    <ul>
                        {{#each hours.classes}}
                        <li class="column-item">
                            <a href="/classi/{{this.title}}">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="schedule-column">
                    <h2 class="center">Docenti</h2>

                    <ul>
                        {{#each hours.teachers}}
                        <li class="column-item">
                            <a href="/docenti/{{this.title}}">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="schedule-column">
                    <h2 class="center">Aule</h2>

                    <ul>
                        {{#each hours.classrooms}}
                        <li class="column-item">
                            <a href="/aule/{{this.title}}">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}